h1, #path, #corpo, #footer {
	width: 100%;
	margin-left: 0px; /* sidenav */
	border-radius: 0px;
	border: 0px;
	box-shadow: 0 0 0 0;
	padding: 0; }

h1 {
	font-size: 67px; }

h2, #path{
	font-size: 25px; }

#footer, input[type=text], input[type=password], input[type=submit] {
	font-size: 20px; }

#corpo { /*ok, sia testo, che h2, che bottoni*/
	font-size: 20px; }

#sidenav {/*modifica solo lo spazio che separa il sidenav dal path*/ }

#sidenav {
	width: 100%;
	height: auto;
	float: none;
	position: static;
	z-index: auto;
	top: auto;
	margin: 0.3em 0 0 0;}

#sidenav #logo {
	display: none; }

#sidenav #menu li {
	width: 100%;
	font-size: 35px;
	height: 70px; 
	line-height: 70px; }

#sidenav #menu li .icon {
	display: none; }

#path {
	width: 96%;
	margin-top: 10px;
	padding: 2%; 
	line-height: 1.5em;}

#path form button {
	float: none;
	font-size: 20px;
	border-radius: 0.3em; 
	width: 100px;
	height: 30px;}

#path form {
	float: none; 
	width:80px;
	margin: 0;
	padding: 0;
	display: inline-block;}

#percorso {
	margin-right: 100%; }

#saluto {
	float: left;
	padding-right: 1em; }

#corpo{
	padding: 0 5%;
	width: 90%;
	margin-top: 20px;
	padding-bottom: 8em;
	background-color: white; }

h2 {
	padding-top: 1em; }

#bottone1 {
	margin-left: 15%;
	width: 8em;
	height: 3em;
	box-shadow: 5px 5px 5px #888888; }

#bottone2 {
	margin-right: 15%;
	width: 8em;
	height: 3em;
	box-shadow: 5px 5px 5px #888888; }

#corpo h3 {
 }

#corpo img {
 }

#didascalia {
	display: none; }

input[type=text], input[type=password]{
	padding: 2%;
	margin: 2vh 3%; }

#Top {
	display: none;
	position: fixed;
	bottom: 35px;
	right: 7px;
	z-index: 99;
	border: none;
	cursor: pointer;
	height: 40px;
	width: 40px; }

#footer {
	width: 96%;
	padding: 2%; }

#registrazione, #login {
	display: block;
	color: #eee;
	width: 86%;
	background-color: #0D4263;
	margin: 7%; }

#registrazione input[type=text], #login input[type=text] {
	width: 88%; 
	margin: 2vh 3%;}

#registrazione input[type=password], #login input[type=password] {
	width: 88%; 
	margin: 2vh 3%;}

.elenco_colonna {
	width: 90%;
    display: list-item;
    margin: 10%; }
