/*
====================
SEZIONE GENERALE
====================
*/ 

* {
  padding: 0em;
}

html, body {
  margin: auto;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
}

h1 {
  margin-left: auto;
  text-align: center;
  font-family: 'Crimson Text';
  font-size: 10vw;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
}

/*
================
SEZIONE BREADCRUMB
================
*/
#path {
  background-color: #006BCF;
  border-top: 1px solid #DDD;
  font-size: 3.5vw;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-left: 0;
}

/*
====================
SEZIONE NAV
====================
*/
#sidenav {
  width: 100%;
  float: none;
  height: 32vw;
  padding: 1vw 0vw;
  margin: 0em;
  position: static;
  z-index: auto;
  top: auto;
  text-align: center;
}

/* The navigation menu links */
#sidenav a {
  padding: 2vw 0vw;
  font-size: 3vw;
  color: #bbbbbb; 
  display: block;
  text-align: center;
  font-style: italic;
}

#logo {
  display: none;
}

#home {
  display: none;
}

#world, #titolo {
  display: none;
}

#utente {
  display: none;
}

/*
================
SEZIONE CORPO
================
*/

#corpo{
  text-align: center;
  border: 0;
  margin-left: 0;
  padding: 2em 0em 20em 0em;
}

/*
====================
SEZIONE FOOTER
====================
*/

#footer {
	background-color: #006BCF;
	border-top: 1px solid #DDD;
	color: white;
	text-align: right;
	font-size: 1vw;
	padding: 1em 3em;
}
