/*
====================
SEZIONE GENERALE
====================
*/ 

* {
	padding: 0em;
	margin: 0em;
}

html, body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
}

h1 {
  margin-left: 23%;
  text-align: left;
  font-family: 'Crimson Text';
  font-size: 8vw;
  padding: 0.8em 0em;
}

h2 {
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 1em;
  font-size: 1.5em;
}

/*
================
SEZIONE CORPO
================
*/
#logo {
  padding: 2vh 5vw;
  width: 15%;
  display: block;
  margin: auto;
  top: 0;
}

#registrazione {
  color: #eeeeee;
  width: 76%;
  float: none;
  display: block;
  margin: 0vh 10% 5vw 10%; 
  background-color: #4b4b4b;
  padding: 3vw;
}

#login {
  color: #eeeeee;
  width: 76%;
  float: none;
  display: block;
  margin: 5vw 10%; 
  background-color: #4b4b4b;
  padding: 3vw;
}

input[type=text] {
  color: black;
  border: none;
  border-bottom: 3px solid #006BCF;
  width: 95%;
  padding: 0.8em;
  margin: 3vh 0vw;
  display: inline-block;
}

input[type=password] {
  color: black;
  border: none;
  border-bottom: 3px solid #006BCF;
  width: 95%;
  padding: 0.8em;
  margin: 3vh 0vw;
  display: inline-block;
}

input[type=submit] {
  width: 90%;
  background-color: #006BCF;
  color: #eeeeee;
  padding: 12px 20px;
  margin: 8px 1em 8px;
  border: none;
  cursor: auto;
}

input[type=submit]:hover {
  background-color: #0073de;
}

#ritorno{
  display: block;
  margin: auto;
  text-align: center;
}

/*
====================
SEZIONE FOOTER
====================
*/

#footer {
  background-color: #006BCF;
  border-top: 1px solid #DDD;
  width: 100%;
  color: white;
  text-align: right;
  font-size: 0.6em;
  padding: 1em;
}

