/*
====================
SEZIONE GENERALE
====================
*/ 

* {
	padding: 0em;
	margin: 0em;
}

html, body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
}

h1 {
  margin-left: 0;
  text-align: center;
  font-family: 'Crimson Text';
  font-size: 15vw;
  padding: 0.5em 0em;
}

h2 {
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 1em;
  font-size: 1.5em;
}

/*
================
SEZIONE CORPO
================
*/
#logo {
  display: none;
}

#registrazione {
  color: #eeeeee;
  font-size: 1em;
  width: 76%;
  float: none;
  display: block;
  margin: 0vh 10% 5vw 10%; 
  background-color: #0D4263;
  padding: 2vw 2%;
}

#login {
  color: #eeeeee;
  font-size: 1em;
  width: 76%;
  float: none;
  display: block;
  margin: 5vw 10%; 
  background-color: #0D4263;
  padding: 2vw 2%;
}

input[type=text] {
  color: black;
  border: none;
  border-bottom: 3px solid #93a459;
  font-size: 0.8em;
  width: 92%;
  padding: 0.8em;
  margin: 2vh 0vw;
  display: inline-block;
}

input[type=password] {
  color: black;
  border: none;
  border-bottom: 3px solid #93a459;
  font-size: 0.8em;
  width: 92%;
  padding: 0.8em;
  margin: 2vh 0vw;
  display: inline-block;
}

input[type=submit] {
  width: 90%;
  font-size: 0.8em;
  background-color: #0D4263;
  color: #eeeeee;
  padding: 12px 20px;
  margin: 8px 1em 8px;
  border: none;
  cursor: auto;
  outline: 2px solid #216181;
}

input[type=submit]:hover {
  background-color: #93a459;
}

#ritorno{
  font-size: 0.8em;
}

/*
====================
SEZIONE FOOTER
====================
*/

#footer {
  background-color: #0d4263;
  width: 100%;
  color: white;
  text-align: right;
  font-size: 0.8em;
  padding: 1em 0em;
}

