/*
====================
SEZIONE GENERALE
====================
*/ 

* {
	padding: 0em;
	margin: 0em;
}

html, body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
}

/*
================
SEZIONE CORPO
================
*/
#logo {
  padding-top: 10em;
  width: 20%;
  text-align: center;
}

#registrazione {
  color: #eeeeee;
  width: 100%;
  float: left;
  margin-left: 2em; 
  border-radius: 5px;
  background-color: #4b4b4b;
  padding: 20px;
}

#login {
  color: #eeeeee;
  width: 30%;
  float: right;
  margin-right: 2em; 
  border-radius: 5px;
  background-color: #4b4b4b;
  padding: 20px;
}

input[type=text] {
  color: #eeeeee;
  border: none;
  border-bottom: 2px solid #006BCF;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 1em 8px;
  display: inline-block;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 1em 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4b4b4b;
  color: #eeeeee;
  padding: 14px 20px;
  margin: 8px 1em 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #006BCF;
}

/*
====================
SEZIONE FOOTER
====================
*/

#footer {
  background-color: #006BCF;
  border-top: 1px solid #DDD;
  color: red;
  text-align: right;
  font-size: 0.6em;
  padding: 1em;
}

