* {
  margin: 0;
  border: 0;
  padding: 0; }

html, body {
  background-color: #f0f0f0;
  font-family: sans-serif;
  font-size: 100%;
  color: black; }

h1, #path, #corpo, #footer {
  width: 100%;
  margin-top: 10px;
  margin-left: 0px; /* sidenav */
  border-radius: 0px;
  border: 0px;
  box-shadow: 10px 0 0 0 #216181;
  padding: 0px; }

h1, #path, #footer {
  background-color: #0d4263;
  color: white; }

h1 {
  min-height: 114px; /* per allinearsi col logo */
  font-family: 'Crimson Text';
  vertical-align: center;
  text-align: center;
  font-size: 10vw;
  padding-top: 1vh; }

#sidenav {
  width: 100%;
  height: 36%;
  float: none;
  position: static;
  z-index: auto;
  top: auto;
  padding: 1% 0%;
  margin: 0.3em 0 0 0;
  background-color: #0d4263; }

#sidenav #logo {
  display: none; }

#sidenav #menu {
  list-style-type: none; }

#sidenav #menu .selected {
  background-color: #216181; }

#sidenav #menu a {
  text-decoration: none;
  color: inherit;
  display: block; }

#sidenav #menu li {
  font-size: 2.5vw;
  text-align: center;
  color: #d6dcbA; }

#sidenav #menu li .icon {
  display: none; }

#sidenav #menu a li:hover {
  background-color: #93a459;
  color: white; }

#path {
  margin-top: 20px;
  font-weight: bold; }

#path form {
  float: right; }

#path form button {
  float: right;
  margin: 0.3em 0.8em;
  border-radius: 0.3em;
  font-size: 1.5em;
  border-style: solid;
  background-color: white;
}

#corpo {
  margin-top: 20px;
  background-color: white;
  border: 3px solid #0D4263;
}

#corpo ul {
	padding-left: 25px;
}

h2 {
	text-align: center; }

#descrizione {
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 3em;
    text-align: center; }

#corpo a {
	margin-top: 2em; }

#corpo h3 {
	text-align: left;
	padding-top: 3em;
	font-style: normal;
	font-size: 1em;
	padding-bottom: 1em;
}

#corpo img {
	display: block;
	text-align: center;
	width: 20em;
	padding-left: 1em;
  padding-top: 0.5em;
}

#didascalia {
	padding: 1em;
	font-size: 0.75em;
	text-align: left;
}

#Top {
    display: none;
    position: fixed;
    bottom: 35px;
    right: 7px;
    z-index: 99;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 40px; }

#footer {
  margin-top: 20px;
  text-align: right;
  font-size: 1em; }